.heading {
    height: 130px;  
    display: flex;
    justify-content: space-between;
    margin: 0px 48px;
    align-content: center;
    align-items: center;
}
.siteName {
    font-weight: 600;
    font-size: 24px;
}
.heading .home {
    text-decoration: none;
    color: #FFF;
}
.heading .home:visited {
    text-decoration: none;
}