.jobDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jobHeading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #FFF;
    width: 500px;
}
.jobHeading .companyLogo {
    width: 90px;
    height: 90px;
}
.jobHeading .companyName {
    font-weight: 700;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 90px 0 30px;

}
.jobHeading .companyURL {
    font-weight: 700;
    color: #777777;
    font-size: 15px;
    padding: 5px 0 ;
    text-decoration: none;
}
.jobHeading .companySite {
    margin-right: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.jobHeading .companySite .redirectLink {
    text-decoration: none;
}
.jobDetails {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 500px;
}
.jobDetails .timeWithType {
    color: #777777;
    font-size: 15px;
    padding: 5px 0 ;
}

.jobDetails .timeWithType .timePosted {
    margin-right: 10px;
}
.jobDetails .timeWithType .jobType {
    margin-left: 10px;
}
.jobDetails .timeWithType .dot {
    font-weight: 900;
}

.jobDetails .position {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
    min-height: 20px;
}
.jobDetails .basicInfo {
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
.jobInfo {
    margin: 10px 110px 0 6px;
}
.jobDetails .basicInfo .applyButton {
    font-weight: 700;
    background-color: #5865E0;
    font-size: 12px;
    padding: 5px 15px;
    
}
.basicInfo .applyButton .redirectLink {
    text-decoration: none;
    color: #FFF;
}

.jobDetails .description {
    font-size: 12px;
    color: #777777;
    padding: 10px 35px;
}
.jobDetails .companyName {
    color: #777777;
    font-size: 15px;
    padding: 5px 0;
}

.jobDetails .locations {
    color: #5865E0;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 0;
}
.howToApply {    
    width: 470px;
    margin: 20px 0;
    background-color: #5865E0;
    font-size: 10px;
    padding: 5px 15px;
    color: #FFF;
    font-weight: 700;
}