/* Light Theme*/
.purple {
  background-color: #5865E0;
}
.light-gray {
  background-color: #F5F6F8;
}
.white {
  background-color: #FFF;
}

/* Dark Theme*/
.dark-blue {
  background-color: #131822;
}
.light-blue {
  background-color: #19212D;
}

.App {
  /*text-align: center;*/
  font-family: 'Roboto', sans-serif;
  width: 1200px;
  margin: 0 auto;
}

.App-header {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom-left-radius: 85px;
}
